$color-purple: #6071ff;
$color-purple-light: #ecefff;
$color-purple-dark: #2632a1;

$color-secondary-light: #e67700;
$color-secondary-dark: #ec7272;

$color-red-light: #ff6b6b;
$color-red-dark: #c92a2a;

$color-grey-light-1: #e5e5e5;
$color-grey-light-2: #B6BAC9;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #222;

$color-white: #fff;
$color-black: #000;
